/* ==UserStyle==
@name           Discord AdBlock AFRIKANISTAN EDITION
@namespace      https://github.com/CroissantDuNord/discord-adblock / https://github.com/magmen3/afrikanistan
@version        1.0.0
@description    Removes annoying Nitro upsells from Discord.
@author         CroissantDuNord & contributors
==/UserStyle== */

/* Fullscreen Nitro trial ad */
div[class^=layerContainer_]:has(div[class*="freeTrialPillWithSparkles_"]) {
  display: none;
}

/* Stream Quality Upsell */
div[class*=upsellBanner] {
    display: none !important;
}

/* Hides Premium Buttons In Quality Settings */
div[class*="qualitySettingsContainer"] button[class*=selectorButtonPremiumRequired] {
    display: none !important;
}

/* Hides Quality Selector If Nitro Button Upsell Present Due To There Only Being A Single Resolution Left! */
div[class*="qualitySettingsContainer"] div[class*="settingsGroup"]:first-child:has(button[class*=selectorButtonPremiumRequired]) {
    display: none !important;
}

/* Makes The Fps Selector Smaller */
div[class*="qualitySettingsContainer"] div[class*="settingsGroup"]:last-child:has(button[class*=selectorButtonPremiumRequired]) div[class*="group"] {
    width: 106.84px;
}

/* Restores Border Radius To New Last Button */
div[class*="qualitySettingsContainer"] div[class*="settingsGroup"]:last-child:has(button[class*=selectorButtonPremiumRequired]) div[class*="group"] button:nth-last-child(2) {
    border-radius: 0 3px 3px 0;
}

/* Chat view blocks */
/* App launcher icons (chat box, guild menu, AI apps on image hover) */
div[class^=channelAppLauncher_] {
  display: none;
}
div[class^="jumpToPresentBar_"] {
  right: 16px;
}
div[id="guild-header-popout-application-directory"] {
  display: none;
}
div[class^=hoverButton_]:has(g[transform="matrix(2.700000047683716,0,0,2.700000047683716,-79.60000610351562,-81.35110473632812)"]) {
  display: none;
}

/* Store tab */
li[class^=channel_]:has(a[href="/shop"]) {
    display: none;
}

/* Nitro tab */
li[class^=channel_]:has(a[href="/store"]) {
    display: none;
}

/* Store popup ads */
[id^=popout]:has([class^=buttonContainerVertical]) {
    display:none;
}

/* Gift button */
div[class^=buttons_] > button[aria-haspopup="dialog"]:has(path[d="M0,0 L600,0 L600,600 L0,600z"]) {
  display: none;
}

/* Super reactions -- Doesn't seem like these are being pushed on free users anymore. */
/* Leaving them as is, but raise an issue if they break normal reactions. */
#message-add-reaction-1 {
    display: none;
}
#message-actions-add-reaction-1 {
    display: none;
}

/* Settings blocking */
/* Banner ad */
#profile-customization-tab > div:has(div[class*="artContainer"][role="presentation"]) {
    display: none;
}

/* Avatar decoration settings */
/*#profile-customization-tab > div > div[class*=profileCustomizationSection_] > div[class*=baseLayout_] > div[class*=sectionsContainer_] > div[class*=customizationSection_]:nth-of-type(4) {
    display: none;
}*/

/* Profile effect settings */
/*#profile-customization-tab > div > div[class*=profileCustomizationSection_] > div[class*=baseLayout_] > div[class*=sectionsContainer_] > div[class*=customizationSection_]:nth-of-type(5) {
    display: none;
}*/

/* "Try Nitro!" ad */
#profile-customization-tab > [class*=premiumFeatureBorder_] {
    display: none;
}

/* Server profiles upsell */
#profile-customization-tab > div > div[class*=profileCustomizationSection_] > div[class*=baseLayout_] > div[class*=sectionsContainer_] > div[class*=upsellOverlayContainer_] {
    display: none;
}

/* App colour */
#appearance-tab > div > div > div > div > div[role=radiogroup] > section:not(section[class*=basicThemeSelectors_]) {
    display: none;
}

/* Icon Theme (just edit the .ico file) */
#appearance-tab > div > div > div > div[class*=selectionGroup_]:has([class*=appIconSelectionContainer_]) {
    display: none;
}

/* BOGO button in settings */
div[class^=premiumLabel_] > div[class^=badgeContainer_]:has(span[class*="star_"]) {
  display: none;
}

/* Billing info sidebar --- I've decided it's better to just leave this, it's not too intrusive.
Blocking each element in the list is tedious and can break some client mods that add their own settings entries.
If anyone knows a better way to block precisely the billing info settings, please make a PR :) */

/*
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div:nth-child(2) > div > div.sidebarRegion__60457 > div > nav > div > div.premiumTab__57bdc.item__48dda.themed_b957e8 {
    display: none
}
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div > div.standardSidebarView__1129a > div.sidebarRegion__60457 > div.sidebarRegionScroller__1fa7e.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > nav.sidebar__9e3e2 > div.side_b4b3f6 > div.separator_fdbcfd:nth-of-type(11) {
    display: none
}
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div > div.standardSidebarView__1129a > div.sidebarRegion__60457 > div.sidebarRegionScroller__1fa7e.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > nav.sidebar__9e3e2 > div.side_b4b3f6 > div.header_f72511:nth-of-type(12) {
    display: none
}
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div > div.standardSidebarView__1129a > div.sidebarRegion__60457 > div.sidebarRegionScroller__1fa7e.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > nav.sidebar__9e3e2 > div.side_b4b3f6 > div.themed_b957e8.item__48dda:nth-of-type(14) {
    display: none
}
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div > div.standardSidebarView__1129a > div.sidebarRegion__60457 > div.sidebarRegionScroller__1fa7e.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > nav.sidebar__9e3e2 > div.side_b4b3f6 > div.themed_b957e8.item__48dda:nth-of-type(15) {
    display: none
}
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div > div.standardSidebarView__1129a > div.sidebarRegion__60457 > div.sidebarRegionScroller__1fa7e.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > nav.sidebar__9e3e2 > div.side_b4b3f6 > div.themed_b957e8.item__48dda:nth-of-type(16) {
    display: none
}
#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div > div > div.standardSidebarView__1129a > div.sidebarRegion__60457 > div.sidebarRegionScroller__1fa7e.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > nav.sidebar__9e3e2 > div.side_b4b3f6 > div.themed_b957e8.item__48dda:nth-of-type(17) {
    display: none
} */

/* Guilds blocking */
/* Server boost button */
#guild-header-popout > div > div:nth-child(1), #guild-header-popout > div > div:nth-child(2) {
    display: none;
}

/* Shop AD Profile */
html.full-motion.show-redesigned-icons.theme-dark.platform-web.font-size-16 body div#app-mount.appMount_fae9dd div.appAsidePanelWrapper__714a6 div.notAppAsidePanel__9d124 div.app_b1f720 div.app_de4237 div.layers__1c917.layers_a23c37 div.layer__2efaa div.standardSidebarView__1129a div.contentRegion__0bec1 div.contentTransitionWrap_c5bc61 div.contentRegionScroller__86c79.contentRegionShownSidebar__610ed.auto_a48086.scrollerBase_dc3aa9 div:nth-child(3) {
    display: none;
}

/* Custom Join Sound AD (No discord I dont want to play a random meme sound when I join a call)*/
#popout_4611 > div > div > div.gridNoticeWrapper__548b9 > div {
    display: none;
}

/* Profile Effect (Shop) */
#profile-customization-tab > div:nth-child(4) > div > div > div.sectionsContainer_a37883 > div:nth-child(5) {
    display: none;
}

/* Hide upsell banner for messages that are too long */
div[class*=characterCount] > div[class*=upsell_] {
    display: none;
}

/* Hide message length Nitro "subscribe" button */
div[role=dialog] > div > div > div[class*=primaryActions_] > button:has(svg[class*=premiumIcon]) {
  display: none;
}

/* Desktop app ad */
[class^=notice_]:has(i[class^=iconApple]){
    display:none;
}

/* You have X days left to try Nitro banner */
div[class^=base_] > div[class^=notice_]:has([class^=premiumIcon_]) {
    display: none;
}